<div class="container">
<h2>Add new post</h2>
<form action="/add" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" id="title" name="title" required>
    <label for="content">Content:</label>
    <textarea class="form-control" id="content" name="content" required></textarea>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>